<html>
  <head>
    <title>How Many Yos Could A Yo Yo Yo If A Yo Yo Could Yo Yos</title>
    <link rel="stylesheet" href="http://dev.justyo.co/bootstrap-custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://dev.justyo.co/application.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="row">
          <span style="text-align: center; font-size: 150px;"><span id="numyos">{{ number }}</span> Yos received</span>
      </div>
      <br/>
      <div class="row">
        <h3>Send me a Yo!</h3>
      </div>
      <div class="row">
        <h1><b>JUSTSENDAFUCKINGYO</b></h1>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h3>Latest Yos</h3>
          <table id="latest" class="table">
            <thead>
            <tr>
              <th>Sender</th>
              <th>Sent</th>
            </tr>
            </thead>
            <tbody>
              {% for yo in latest %}
              <tr>
                <td>{{ yo.sender }}</td>
                <td>{{ yo.sent_at|fuzzystamp|safe }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-6">
          <h3>Most Yos</h3>
          <table id="most" class="table">
            <thead>
            <tr>
              <th>User</th>
              <th># Yos</th>
            </tr>
            </thead>
            <tbody>
              {% for user in most %}
                <tr>
                  <td>{{ user[0] }}</td>
                  <td>{{ user[1] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="footer">
        <small>Running {{ app_name }} {{ app_version }}</small>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://timeago.yarp.com/jquery.timeago.js"></script>
    <script lang="text/javascript">

      var receiver = new WebSocket("ws://" + location.host + "/ws");

      receiver.onmessage = function(message) {
          console.log(message);

          $('#numyos').text(parseInt($('#numyos').text()) + 1);
      }
      $(document).ready(function(){
        $("time.timeago").timeago();
      });
    </script>
  </body>
</html>
