<html>
  <head>
    <title>How Many Yos</title>
    <link rel="stylesheet" href="http://dev.justyo.co/bootstrap-custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://dev.justyo.co/application.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="row">
          <h2>{{ number }} Yos received</h2>
      </div>
      <div class="row"><br/></div>
      <div class="row">
        Send me a Yo!
      </div>
      <div class="row">
        JUSTSENDAFUCKINGYO
      </div>
    </div>
  </body>
</html>
